body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Header Section */

header, footer {
  background-color: #282829;
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  padding: 15px 60px;
}

img {
  width: 40px;
  height: 40px;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

li {
    transition: 0.3s;
}

li:hover {
  color: rgb(247, 139, 59);
}


/* Main Section */

.main_text {
 font-size: 88px;
 width: 600px;
 text-align: center;
 margin: auto;
}


.boxes {
  width: 393px;
  height: 230px;
  text-align: center;
  line-height: 23px;
  font-size: 14px;
  padding-top: 20px;
}

.texts {
  color: gray;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 50px;
}

.images {
  width: 393px;
  height: 230px;
  border-radius: 20px;
}